#admin {
  .container {
    display: flex;
    flex: 1 1 100%;
    padding-bottom: 24px;
    padding-top: 24px;
  }

  .card {

    a {
      text-decoration: none;
      border-bottom: none;
    }
  }
}
