<div id="admin">
  <div class="container">
    <ul>
      <li><a href="/admin/roles">Manage Roles</a></li>
      <li><a href="/admin/groups">Manage Groups</a></li>

    </ul>

</div>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
