.dictionary-page-table-mixin() {
  .page {
    &__sub-title {
      font-size: 16pt;
      padding: 24px;
      position: sticky;
      top: 0;
      z-index: 1;
      background: white;
    }
    &__footer-title{
      padding: 24px;
      position: sticky;
      bottom: 0;
    }

  }

  tbody {
    tr:nth-child(2n+1) {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  th, td {
    padding:12px;
  }
}
